[submodule "ShiryuTeam/vendor/imgui/src"]
	path = ShiryuTeam/vendor/imgui/src
	url = https://github.com/Shiryu-Studios-LLC/imgui-1
	branch = docking
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/Shiryu-Studios-LLC/imgui-1
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/Shiryu-Studios-LLC/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/Shiryu-Studios-LLC/glm
[submodule "vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/Shiryu-Studios-LLC/glfw
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/Shiryu-Studios-LLC/spdlog
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/Shiryu-Studios-LLC/yaml-cpp
[submodule "ShiryuTeam-Modules/ShiryuTeam-Networking"]
	path = ShiryuTeam-Modules/ShiryuTeam-Networking
	url = https://github.com/Shiryu-Studios-LLC/ShiryuTeam-Networking
